{{define "server-data"}}{{end}}

{{define "content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">Ups! Das war unerwartet...</h1>
    <p>Es ist ein Fehler aufgetreten und wir arbeiten dran, ihn zu bheben.</p>

    {{ if .public.tenant }}
    <span>Zurück zur <a class="text-link" href="{{ .public.settings.baseURL }}">{{ .public.settings.baseURL }}</a>
      Homepage.</span>
    {{ end }}
  </div>
</div>
{{end}}

{{define "end-of-body"}}{{end}}