{{define "title"}} Warten auf Aktivierung &middot; 123erfasst {{end}} {{define "server-data"}}{{end}} {{define
"content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">DEIN ACCOUNT WARTET AUF AKTIVIERUNG</h1>
    <p>Wir haben dir eine Bestätigungsmail zugeschickt.</p>
    <p>Bitte überprüfe deine Mails.</p>
  </div>
</div>
{{end}} {{define "end-of-body"}}{{end}}